@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.card-track {
  margin: auto;
  width: 300px;
  height: 130px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.11);
  font-family: 'Montserrat';
  font-weight: 700;
  border-radius: 15px;
}

.save-money {
  font-size: 14px;
  color: green;
  padding-top: 10px;
  margin: auto;
}

.icon {
  margin: auto 0px;
  padding-right: 2px;
}

.percent {
  margin-top: 12px;
  font-size: 13px;
}
