.social-login img {
  width: 24px;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c2a2a;
}

.forgot-pass {
  cursor: pointer;
}

.card {
  font-family: sans-serif;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border-radius: 10px;
  padding: 1.8rem;
  box-shadow: 20px 50px 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-weight: bold;
}
.btn-text {
  margin: 0;
  background: #fff;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.login-header {
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: 16px;
}


.google-btn {
  background: #fff;
  border: solid 2px rgb(245 239 239);
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  padding: 25px 25px;
  flex: auto;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.or {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgb(245 239 239);
  line-height: 0.1em;
  margin: 25px 0;
}
.or span {
  background: #fff;
  padding: 0 10px;
}

.email-login {
  display: flex;
  flex-direction: column;
}
.email-login label {
  color: rgb(170 166 166);
}

input[type='text'],
input[type='password'] {
  padding: 15px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.login-btn {
  margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 350px;
  }
}
