::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: rgba(138, 129, 138, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(138, 129, 138, 0.959);
  border-radius: 12px;
}

.css-r10se1,
.css-aqesej {
  color: white !important;
}

.table-data:nth-child(odd) td {
  font-weight: 700;
  font-size: 16px !important;
  color: black;
}

.table-data:nth-child(even) td {
  font-weight: 700;
  color: white;
  font-size: 16px !important;
}

.dashboard {
  background-color: #272525;
  color: white;
  font-family: 'Montserrat';
  min-height: 100vh;
}

.tab {
  color: white;
}

.heading {
  margin: auto 0px;
  font-size: 20px;
  padding-left: 6px;
  font-weight: 700;
}

.logo {
  width: 40px;
  height: 40px;
}

.signout-btn {
  margin-left: auto;
  color: black;
}

@media only screen and (min-width: 770px) {
  .mobile-tablet {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .desktop-tablet {
    display: none;
  }
  .heading {
    font-size: 16px;
  }
  .logo {
    height: 35px;
    width: 35px;
  }

  .signout-btn {
    height: 30px !important;
    width: 90px !important;
  }
}

@media only screen and (max-width: 760px) {
  #tabs-7--tab-2 {
    display: none !important;
  }
}
